#ifndef GRAPHDB_SRC_QUERY_LOGIC_SUBSCRIPTION_TMPL_
#define GRAPHDB_SRC_QUERY_LOGIC_SUBSCRIPTION_TMPL_

#include "query/logic/logic_and_subscription.h"
#include "query/logic/logic_or_subscription.h"
#include "query/logic/logic_xor_subscription.h"
#include "storage/query/edge_subscription.h"

namespace GraphDB {

template LogicAndSubscription* LogicSubscription::getSubscription<LogicAndSubscription>();
template LogicOrSubscription* LogicSubscription::getSubscription<LogicOrSubscription>();
template LogicXorSubscription* LogicSubscription::getSubscription<LogicXorSubscription>();
template EdgeSubscription* LogicSubscription::getSubscription<EdgeSubscription>(uint32_t&&, uint16_t&&, EdgeDirection&&);

}

#endif  // GRAPHDB_SRC_QUERY_LOGIC_SUBSCRIPTION_TMPL_
